<template>
     <div class="col-md-12 row"> 
     
         <div class="col-md-3">
              <div class="card " >
                <div class="card-header card-header-rose card-header-text">
                  <div class="card-icon" style="padding: 7px;"> 
                    <img class="img imgfrente"  src="/img/pdf.png" style="height: 80px;"> 
                  </div> 
                  <h4 class="card-title titulocards" style="float: left;">Cuadro oficial de votos escrutados
                     </h4> 
                <div  class="card-title" style="float: right;">  
                      <button class="btn btn-success btn-round" @click="printreporte('/printreporte','Cuadro oficial de votos escrutados')"><i class="material-icons">remove_red_eye</i> Ver</button>
                </div>  
                </div>
                <div class="card-body " style="padding: 0px;">
                 <div class="progress progress-line-primary" style=" margin-top: 15px; margin-bottom: 0px;">
                        <div class="progress-bar progress-bar-primary" role="progressbar"   aria-valuemin="0" aria-valuemax="100" style="width: 100%;"> 
                        </div>
                 </div>   
                </div>  
              </div>
           </div>

           <div class="col-md-3">
              <div class="card " >
                <div class="card-header card-header-rose card-header-text">
                  <div class="card-icon" style="padding: 7px;"> 
                    <img class="img imgfrente"  src="/img/pdf.png" style="height: 80px;"> 
                  </div> 
                  <h4 class="card-title titulocards" style="float: left;">Lista de socios habilitados
                     </h4> 
                <div  class="card-title" style="float: right;">  
                      <button class="btn btn-success btn-round" @click="printreporte('/printreportesocios','Lista de socios habilitados')"> <i class="material-icons">remove_red_eye</i>Ver</button>
                </div>  
                </div>
                <div class="card-body " style="padding: 0px;">
                 <div class="progress progress-line-primary" style=" margin-top: 15px; margin-bottom: 0px;">
                        <div class="progress-bar progress-bar-primary" role="progressbar"   aria-valuemin="0" aria-valuemax="100" style="width: 100%;"> 
                        </div>
                 </div>   
                </div>  
              </div>
           </div>
           <div class="col-md-3">
              <div class="card " >
                <div class="card-header card-header-rose card-header-text">
                  <div class="card-icon" style="padding: 7px;"> 
                    <img class="img imgfrente"  src="/img/pdf.png" style="height: 80px;"> 
                  </div> 
                  <h4 class="card-title titulocards" style="float: left;">Lista de documentos presentados
                     </h4> 
                <div  class="card-title" style="float: right;">  
                      <button class="btn btn-success btn-round" @click="printreporte('/printreportedocume','Lista de documentos ')"> <i class="material-icons">remove_red_eye</i>Ver</button>
                </div>  
                </div>
                <div class="card-body " style="padding: 0px;">
                 <div class="progress progress-line-primary" style=" margin-top: 15px; margin-bottom: 0px;">
                        <div class="progress-bar progress-bar-primary" role="progressbar"   aria-valuemin="0" aria-valuemax="100" style="width: 100%;"> 
                        </div>
                 </div>   
                </div>  
              </div>
           </div>
           <div class="col-md-3">
              <div class="card " >
                <div class="card-header card-header-rose card-header-text">
                  <div class="card-icon" style="padding: 7px;"> 
                    <img class="img imgfrente"  src="/img/pdf.png" style="height: 80px;"> 
                  </div> 
                  <h4 class="card-title titulocards" style="float: left;">Listado de votos efectivos
                     </h4> 
                <div  class="card-title" style="float: right;">  
                      <button class="btn btn-success btn-round" @click="printreporte('/printreportesociosvotos','Listado de votos efectivos')"><i class="material-icons">remove_red_eye</i> Ver</button>
                </div>  
                </div>
                <div class="card-body " style="padding: 0px;">
                 <div class="progress progress-line-primary" style=" margin-top: 15px; margin-bottom: 0px;">
                        <div class="progress-bar progress-bar-primary" role="progressbar"   aria-valuemin="0" aria-valuemax="100" style="width: 100%;"> 
                        </div>
                 </div>   
                </div>  
              </div>
           </div>
       
  
     </div>
</template>

<script>
    export default {
      props:['vuepermisos'],    
      data (){
            return {
              nombrerequisito:'', 
              codigo:'',  
              reqlista:[] ,  
               refreshform:true 
            }
        }, 
        methods:{  
          printreporte(urlin,tituloin){
           this.$root.$emit('pdf', {
                                    url: urlin,
                                    titulo: tituloin
                                  });
 
          } 
         
        },
     
        mounted() { 
            
        }
    }
</script>
<style scoped>
.obli{
    color: red;
    font-weight: 900;
    font-size: larger;
    vertical-align: middle;
}
</style>