<template>
     <div> 
          <div>
               <div id="timertop" style="font-size: xxx-large;
    font-family: monospace;
    font-weight: 700;
    color: blue;"> {{counttime}}</div> 
            </div> 
     </div>
     
</template>

<script>
    export default { 
        data (){
            return { 
              counttime:'', 
            }
        },  
        mounted() {
           this.$root.$on('conteoregresivo', data => { 
                        $('#timertop').fadeTo(1,1); 
                        this.counttime=data.date; 
                        $('#timertop').fadeTo(800, .40);
               });
        }
    }
</script> 